Assignment 2: Working with Pandas

Task 1: Join City and Country datasets

Task 2 : Write a query that would produce a list of 3 cities with the largest populations in Afghanistan. The resulting report should display the following columns:
    a. City name
    b. Country name
    c. District
    d. Population
    
Task 3: Write a query that would tell you which country in the Middle East region has the lowest life expectancy.

Task 4: Write a query that would tell you the combined Gross National Product (GNP) of all countries in the Caribbean.

Task 5: Write a query that would produce a list of every city in Madagascar whose name begins with the letter ‘A’

Task 6: Join Country and CountryLanguage datasets.

Task 7 : Write a query that would produce a list of every country in Western Europe where the primary language is French.

In [30]:
#load pandas into memory and name it pd
import pandas as pd

In [31]:
#load files
city_data = pd.read_csv("city.csv", index_col="ID")
country_data = pd.read_csv("country.csv", index_col="Code")

In [32]:
#1: join city and country datasets
city_country = pd.merge(city_data, country_data, how= 'outer', left_on= 'CountryCode', right_on= 'Code')
#city_country.head()

In [33]:
#list to rename columns
city_country.columns = ['CityName', 'CountryCode', 
                        'District', 'CityPopulation', 'CountryName', 
                        'Continent', 'Region', 'SurfaceArea', 'IndepYear', 
                        'CountryPopulation', 'LifeExpectancy', 'GNP', 
                        'GNPOld', 'LocalName', 'GovernmentForm', 'HeadOfState', 
                        'Capitol', 'Code2']

In [34]:
#2: Write a query that would produce a 
#list of 3 cities with the largest populations in Afghanistan. 
#The resulting report should display the following columns: 
   # a. City name b. Country name c. District d. Population
    
#querying using boolean operators
q1 = "CountryName == 'Afghanistan'"
search = city_country.query(q1).sort_values('CityPopulation', ascending=False)
search_results = city_country.query(q1)
sorted_data = search_results.sort_values('CityPopulation', ascending=False)
#set range 0-3
sorted_data[['CityName', 'CountryName', 'District', 'CityPopulation']].iloc[0:3]

   CityName  CountryName  District  CityPopulation
0     Kabul  Afghanistan     Kabol       1780000.0
1  Qandahar  Afghanistan  Qandahar        237500.0
2     Herat  Afghanistan     Herat        186800.0

In [35]:
#3: Write a query that would tell you which country 
#in the Middle East region has the lowest life expectancy.
country_data.sort_values('LifeExpectancy', ascending=True).iloc[0]

Name                         Zambia
Continent                    Africa
Region               Eastern Africa
SurfaceArea                  752618
IndepYear                      1964
Population                  9169000
LifeExpectancy                 37.2
GNP                            3377
GNPOld                         3922
LocalName                    Zambia
GovernmentForm             Republic
HeadOfState       Frederick Chiluba
Capital                        3162
Code2                            ZM
Name: ZMB, dtype: object

In [36]:
#4: Write a query that would tell you the combined 
#Gross National Product (GNP) of all countries in the Caribbean

#caribbean query
caribbean_query = country_data['Region'] == "Caribbean"
caribbean = country_data[caribbean_query]
caribbean['GNP'].sum()

103586.2

In [37]:
#5: Write a query that would produce a list of every 
#city in Madagascar whose name begins with the letter ‘A’

#country query for madagascar
country_query = city_country['CountryName'] == "Madagascar"
madagascar_info = city_country[country_query]
city_query = madagascar_info['CityName']
#result = city_query.str.startswith("A")

#print values
for i in city_query:
    if i.startswith('A'):
        print(i)

Antananarivo
AntsirabÃ©

In [39]:
#6: Join Country and CountryLanguage datasets.
country_lang_data = pd.read_csv("countrylanguage.csv")
#i finally got this to work, but i had trouble since the 
    #first two files needed to be assigned indexes and merged that way, 
    #versus this one that refused to work if i indexed it
country_lang = pd.merge(country_lang_data, country_data, how= 'outer', right_on= 'Code', left_on= 'CountryCode')
#country_lang.head()

In [29]:
#7 : Write a query that would produce a list 
#of every country in Western Europe where the primary language is French.

#query for region
region_query = country_lang['Region'] == "Western Europe"
WE_info = country_lang[region_query]

#query for french
lang_query = WE_info['Language'] == "French"
french_query = WE_info[lang_query]

#find primary 
primary_query = french_query['IsOfficial'] == 'T'

final = french_query[primary_query]

final[['Name', 'Language', 'IsOfficial']].iloc[:,:]

            Name Language IsOfficial
66       Belgium   French          T
151  Switzerland   French          T
290       France   French          T
515   Luxembourg   French          T
533       Monaco   French          T